@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primary-color: #132b50;
$slider-color: #2196f3;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', monospace;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
}

// Slider
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: $primary-color;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: $slider-color;
	border: none;
}

input:focus + .slider {
	box-shadow: 0 0 1px $slider-color;
	// border: none;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	border: 1px solid $primary-color;
}

.slider.round:before {
	border-radius: 50%;
}
// End Slider

.password {
	&__container {
		width: 584px;
		height: 577px;
		padding: 85px;
		background-color: white;
		border-radius: 20px;
		& > *:not(:first-child) {
			margin-top: 32px;
			width: 414px;
		}
	}
	&__header {
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
	}

	&__form {
	}
	&__label {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	}

	&__input--container {
		position: relative;
		.lock-icon {
			position: absolute;
			top: 50%;
			transform: translate(50%, -50%);
		}
	}

	&__input {
		width: 90%;
		font-size: 20px;
		height: 59px;
		padding: 16px;
		padding-left: 40px;
		gap: 10px;
		border-radius: 8px;
		border: 1px solid #132b50;
	}

	&__toggle {
		position: relative;
		outline: none;
		border: none;
		& > * {
			position: absolute;
			top: 50%;
			transform: translate(50%, -70%);
		}
		.fa-eye,
		.fa-eye-slash {
			cursor: pointer;
			display: none;
			&.active {
        display: block;
			}
		}
	}
}
i[class^='fa'],
i[class*=' fa'] {
	font-size: 27px;
}
.account {
	display: flex;
	align-items: center;
	column-gap: 16px;
	&__avatar {
		width: 78px;
		height: 78px;
		border-radius: 50%;
		object-fit: cover;
	}
	&__info {
	}
	&__type {
	}
	&__name {
	}
}

.btn {
}
.reset__password {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: $primary-color;
}

.inactive {
}
.fa-eye-slash {
}
.active {
}
.stay-signed-in {
	display: flex;
	align-items: center;
	&__label {
		margin-left: 8px;
	}
	.btn {
		padding: 16px;
		gap: 10px;
		width: 103px;
		height: 51px;
		background: #132b50;
		border-radius: 8px;
		color: white;
		cursor: pointer;
		margin-left: calc(100% - 324px);
	}
}
